.App {
  max-height: 17.5rem;
  max-width: 25rem;
  transition: width 0.7s linear;
  transition: height 0.7s linear;
}
.inline > div {
  background-color: white;
  display: flex;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.inline > div > div:nth-child(n) {
  border-right: 1px solid grey;
  padding: 0 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.icons {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
